* {
	margin: 0;
	padding: 0;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}
	/*Navigation bar & Menu */
.nav {
	/*background-color: white;*/
	border-bottom: thin solid white;
	height: 5em;
	position:fixed;
	top:0px;
	width: 100%;
}

.navRow {
	position: relative;
	margin-left: 4em;
}

.logo { 
	float: left;
	display: block;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navContent {
	margin-right: 7em;
}

.navLinks li {
    float: right;
}

.navLinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 50px;
}

.navLinks li a:hover {
    color: orange;
	border-top: solid orange;
}

	/*Header*/

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 2s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/*Darker header background image */
.header {
	margin-top: -20px;
	height: 48em;
    background: url('../images/benjamin-voros-250200.jpg');

/*background-image: url(cinemagraph-gifs-11.gif);*/
background-size: 100% auto;
background-repeat: no-repeat;
}

.headWrapper {
	top: 6em;
	height: 500px;
	width: 70em;
	margin: 0 auto;
	position: relative;
    text-align: center;
}

.headerTxt {
	margin: 0 auto;
	position: relative;
	top: 125px;
	color: white;
}
.icons {
	margin-top: 15%;
}
.icons li {
	display: inline-block;
	margin: 10px;
}
.icon{
	height: 3em;
}

.headAbout {
	position: relative;
	color: white;
	top:30%;
	font-size: 25px;
	-webkit-transition-delay: 10s; /* Safari */
    transition-delay: 2s;
}

	/*Portfolio*/
.portfolio {
	height: 48em;
	border: 1px solid black;
	background-color: #c5c6c7;
	text-align: center;
}

.projects {
	width: 100%; 
	height: 75%;
	border: 1px solid black;
    margin-top: 5%;
}

.pj-container {
    width: 33.33%;
    height: 50%;
    border: 2px solid;
    float: left;
}
	/*About Me */
.about {
	height: 30em;
	border: 1px solid black;
	text-align: center;
	background-color: #c5c6c7;
}

.abt {
	height: 60em;
	width: 60em;
}
.headShot {
	float: left;
	height: 20em;
	width: 20em;
	border: 2px solid black;
}

.abt-text {
	float: left;
	height: 20em;
	width: 20em;
	border: 2px solid black;
}

	/*Contacts*/
.contact {
	text-align: center;
	border: 1px solid black;
	background-color: #c5c6c7;
	height: 30em;
}
	/*Footer*/
.footer {
	border: 1px solid white;
	height: 8em;
}

